*{
  margin:0;
  padding:0;
}

body{
  background-color: #dee2e6;
}

/* body{
  background-color: black;
} */

h2{
  color: rgb(26, 26, 26);
  text-align: center;
  padding: 25px;
}
.list-seitos{
  width: 70%;
  margin: 30px auto;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  /* background-color: #aaa; */
}

.pprofile:link,
.pprofile:visited{
  text-decoration: none;
  color: #000;
}

/* .search-list{
background-color: pink;
} */

.seitos-container{
  /* background-color: green; */
  /* margin: 10px 0; */
  /* padding: 10px; */
}

.mini{
  height: 60px;
  width: 60px;
  /* margin: 5px 5px; */
  margin-top: 5px;
  border-radius: 50%;
}

table{
  text-align: center;
  /* margin: 15px auto; */
  /* background-color: red; */
  padding: 15px;
  font-size: 15px;
  border-spacing: 0;
  color: rgb(46, 46, 46);
}

th{
    /* border: 1px solid dodgerblue; */
    padding: 15px;
    text-align: center;
    margin: 0;
    /* background-color: dodgerblue; */
    border: 1px solid #dee2e6;
    background-color: #dee2e6;
}

td{
  /* background-color: orange; */
  border: 1px solid #dee2e6;
}
.typesearch{
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  /* box-shadow: 0 2px 0 black; */
  outline: none;
  background-color: transparent;
  color: rgb(92, 92, 92);
}

.input{
  padding:5px;
  font-size: 15px;
  border-radius: 15px;
  border-color: transparent;
  border: 1px solid #aaa;
  outline: none;
  padding-left: 7px;
}
